a {
  color: blue;
  text-decoration: none;
}

a.hover {
color: brown;
}
input,
textarea,
.select {
  display: block;
  padding: 6px;
  margin: 3px;
  border-radius: 10px;
  border: solid 2px rebeccapurple;
}

button {
  padding: 6px;
  margin: 3px;
  border-radius: 10px;
  border: solid 2px rebeccapurple;
  background-color: aqua;
}

.bg-black {
  background-color: black;
}
.card {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;
  border: solid 1px rebeccapurple;
  border-radius: 12px;
}

.card-title {
  font-size: large;
  margin-bottom: 4px;
  font-weight: bolder;
}

.footer {
  color: blue;
  font-weight: bolder;
}
